
<div class="row">
  <div class="col-md-12 ">
    <div id="Carousel" class="carousel slide category">

      <ol class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1" ></li>
        <li data-target="#Carousel" data-slide-to="2" ></li>
      </ol>

      <!-- Carousel items -->
      <div class="carousel-inner category">



        <div class="item active category ">
          <div class="row">
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.first.cat_photo.url(:medium) %>

            </div>
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.second.cat_photo.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.third.cat_photo.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.fourth.cat_photo.url(:medium) %>
            </div>
          </div>
                      <!--.row-->
        </div>      <!--.item-->




        <div class="item category ">
          <div class="row">
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.first.cat_photo.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.second.cat_photo.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.third.cat_photo.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail category" >
              <%=image_tag @categories.fourth.cat_photo.url(:medium) %>
            </div>
          </div><!--.row-->
        </div><!--.item-->






      </div><!--.carousel-inner-->
      <a data-slide="prev" href="#Carousel" class="left carousel-control category">‹</a>
      <a data-slide="next" href="#Carousel" class="right carousel-control category">›</a>
    </div><!--.Carousel-->

  </div>
</div>
<!--.container-->




