
  <div class="row">
    <div class="col-md-12">
      <div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1" ></li>
          <li data-target="#Carousel" data-slide-to="2" ></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">



        <div class="item active ">
          <div class="row">
                <div class = "col-md-3 thumbnail" >
                  <%=image_tag @products.first.image_1.url(:medium) %>
                  <h5><%= @products.first.product_name %></h5>
                  <h6><%= @products.first.SP %></h6>
                </div>
            <div class = "col-md-3 thumbnail" >
              <%=image_tag @products.second.image_1.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail" >
              <%=image_tag @products.third.image_1.url(:medium) %>
            </div>
            <div class = "col-md-3 thumbnail" >
              <%=image_tag @products.fourth.image_1.url(:medium) %>
            </div>
          </div><!--.row-->
        </div><!--.item-->




          <div class="item ">
            <div class="row">
              <div class = "col-md-3 thumbnail" >
                <%=image_tag @products.fifth.image_1.url(:medium) %>
              </div>
              <div class = "col-md-3 thumbnail" >
                <%=image_tag @products.first.image_2.url(:medium) %>
              </div>
              <div class = "col-md-3 thumbnail" >
                <%=image_tag @products.second.image_2.url(:medium) %>
              </div>
              <div class = "col-md-3 thumbnail" >
                <%=image_tag @products.third.image_2.url(:medium) %>
              </div>
            </div><!--.row-->
          </div><!--.item-->






        </div><!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
      </div><!--.Carousel-->

    </div>
  </div>
<!--.container-->


