<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @product.MRP %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @product.SP %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Instock:</strong>
  <%= @product.instock %>
</p>

<p>
  <strong>Warranty summary:</strong>
  <%= @product.warranty_summary %>
</p>

<p>
  <strong>Highlights:</strong>
  <%= @product.highlights %>
</p>

<p>
  <strong>Imp note:</strong>
  <%= @product.imp_note %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @product.owner %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Seller name:</strong>
  <%= @product.seller_name %>
</p>

<p>
  <strong>Full desp:</strong>
  <%= @product.full_desp %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @product.specification %>
</p>

<p>
  <strong>Installation:</strong>
  <%= @product.installation %>
</p>

<p>
  <strong>Unit in order:</strong>
  <%= @product.unit_in_order %>
</p>

<p>
  <strong>Unit in stock:</strong>
  <%= @product.unit_in_stock %>
</p>

<p>
  <strong>Unit length:</strong>
  <%= @product.unit_length %>
</p>

<p>
  <strong>Unit bredth:</strong>
  <%= @product.unit_bredth %>
</p>

<p>
  <strong>Unit height:</strong>
  <%= @product.unit_height %>
</p>

<p>
  <strong>Unit weight:</strong>
  <%= @product.unit_weight %>
</p>

<p>
  <strong>Additional features:</strong>
  <%= @product.additional_features %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
