<ul class="nav nav-pills pull-right">
  <% if user_signed_in?  %>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% elsif owner_signed_in?  %>
       
        <li> <%= link_to "Sign In", new_user_session_path %> </li>
      <li>   <%= link_to "Sign Up", new_user_registration_path %> </li>
        


   <% else %>
    <li> <%= link_to "Sign In", new_user_session_path %> </li>
      <li>   <%= link_to "Sign Up", new_user_registration_path  %> </li>

      <li> <%= link_to 'Seller' , new_owner_session_path %> </li>


  <% end %>
</ul>